.h1{
    color: blue;
  }
  .links, .lists{
    text-decoration: none;
    list-style: none;
  }
  .links:hover{
   color: red;
  }
  .header{
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 1rem;
    padding-block: 0.5rem;
    display: flex;
    justify-content: space-between;
  }