:root {
  --greenish: rgb(89, 150, 105);
  --greyish: rgb(108, 103, 110);
  --beigish: rgb(245, 245, 220);
}
// $breakpoints: (
//   phone: 640px,
//   tablet: 768px,
//   desktop: 1024px,
// ); //for responsive

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /*to stick footer to bottom*/
  // width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  // flex-direction: column;
  scroll-padding-top: 170px; /*for automatic scrolling anchor*/
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
* h2 {
  margin-left: 150px;
  color: var(--greenish);
  font-size: 2em;
  text-transform: uppercase;
  width: fit-content;
  font-family: var(--font-delius), serif; //variable declared in layout const
  background: rgba(245, 245, 220, 0.8);
  padding: 10px;
  border-radius: 220px 120px 220px 120px;
  overflow-wrap: break-word;
  width: fit-content;
  @media (max-width: 768px) {
    margin-left: 5%;
  }
}
