:root {
  --greenish: rgb(89, 150, 105);
  --greyish: rgb(108, 103, 110);
  --redish: red;
  --beigish: rgb(245, 245, 220);
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-padding-top: 170px; /*for automatic scrolling anchor*/
}
