/*presentation block*/
.secPres {
  background-color: var(--beigish);
  padding: 1px 0 35px 0;
  h2 {
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    // width: 104%;
    display: grid;
    justify-content: center;
    margin: 0;
  }
}
.presBlock {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  p {
    // width: 80%;
    height: auto;
    margin-inline: 100px;
    font-size: 3em;
    // padding: 5%;
    letter-spacing: 2px;
    text-align: right;
    color: var(--greyish);

    /*square animation*/
    --g: 50px; /* the gap */
    --b: 12px; /* border thickness*/
    --c: #82d78c; /* the color */
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
    background: var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
      var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b), var(--b) 200%;
    cursor: pointer;
    filter: grayscale(20%);
    transition: 0.3s;
    &:hover {
      --_p: 75%;
      filter: grayscale(0%);
    }
  }
  @media (max-width: 767px), (max-width: 1023px) {
    display: flex;
    flex-direction: column-reverse;
    p {
      margin-inline: 100px;
      font-size: 2em;
      text-align: center;
      --_p: 75%;
    }
  }
}
.underline {
  background-image: linear-gradient(
    120deg,
    #83dea4 0%,
    #acffcb 50%,
    #7ade9f 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: 0.25s ease-in-out;
  &:hover {
    background-size: 100% 88%;
    color: black;
    text-shadow: 1px 1px 0px rgba(245, 245, 220, 0.622);
  }
}

/*contact block in homepage*/
.links {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.contactBlock {
  color: var(--beigish);
  font-size: 2em;
  margin: 50px 150px;
  // width: 650px;
  line-height: 60px;
  padding: 50px 50px;
  background-color: var(--greenish);
  box-shadow: black 2px 2px 2px;
  border-radius: 25px;
  @media (max-width: 767px), (max-width: 1023px) {
    margin-inline: 10%;
    font-size: 1.5em;
    line-height: 40px;
    // padding: 20px;
  }
}

//contact page
.entireContactBlock {
  display: flex;
  align-items: center;
  // width: 1000px;
  height: 500px;
  margin-left: 17%;
  margin-block: 90px;
  @media (max-width: 767px) {
    // width: 500px;
    height: 850px;
    flex-direction: column;
    margin-left: 5%;
    font-size: 0.9em;
    margin-block: 5%;
  }
  @media (max-width: 1023px) {
    margin-inline: 5%;
  }
}
.contactTextBlock {
  display: flex;
  color: black;
  flex-direction: column;
  padding-block: 100px;
  padding-inline: 35px;
  background-color: #7ade9f;
  & h2 {
    font-size: 1.4em;
    text-align: center;
    margin-left: 0;
    padding: 20px;
    color: var(--greyish);
    background: rgba(245, 245, 220, 0.622);
    border-radius: 220px 120px 220px 120px;
  }
  @media (max-width: 767px) {
    padding: 15px;
  }
}
.contactToHomeLink {
  text-decoration: none;
  color: var(--greenish);
  -webkit-text-stroke: black 0.5px;
  // margin-inline: 5%;
  margin-top: 15px;
  font-size: 1.4em;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    #d8eba9 0%,
    #e2e3a0 50%,
    #ddd49a 100%
  );
  background-repeat: no-repeat;
  background-size: 95% 0.2em;
  background-position: 0 88%;
  transition: 0.25s ease-in-out;
  &:hover {
    background-size: 95% 88%;
    color: var(--greyish);
    text-shadow: 1px 1px 0px rgba(245, 245, 220, 0.622);
  }
  @media (max-width: 767px) {
    text-align: center;
    background-size: 100%;
  }
}
