.contact{
  font-size: large;
  color: red;
}
.presBlock{
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  background-color: beige;
  p{
    width: 40%;
    font-size: 3em;
    padding-right: 10%;
    letter-spacing: 2px;
    text-align: right;
    color: var(--greyish);
  }
}
.underline{
  background-image: linear-gradient(120deg, #83dea4 0%, #acffcb 50%,#7ade9f 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: black;
  &:hover {
    background-size: 100% 88%;
  }
}